*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
}

html {
    scroll-behavior: smooth;
    }

.mobile{
    display: none;
}

.container{
    width: 1320px;
    height: 100%;
}

.TopNav{
    height: 60px;
    border-bottom: 1px solid #9F9D9D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopNav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TopNav p {
    color: #2D2D2D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TopNav p a{
    text-decoration: none;
    color: #2D2D2D;
    transition: all 0.2s;
}

.TopNav p a:hover{
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.2s;
}

.TopNav button{
    border-radius: 8px;
    background: #F9A22C;
    width: 145px;
    height: 31px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border: none;
    cursor: pointer;
}


.TopNav button:hover{
    transition: all 0.2s;
    background: #F9A22C;
    opacity: 0.8;
}

.Nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Nav ul{
    display: flex;
    list-style: none;
    gap: 21px;
}

.Nav ul a{
    color: #8D8D8D;
    text-align: right;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.logo{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header{
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url(/img/scooter-3620869_960_720.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header h1{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

header p{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 12px 0 22px 0;
    width: 700px;
}

header button{
    border-radius: 11px;
    background: #FFF;
    width: 113px;
    height: 30px;
    border: none;
}

header a{
    color: #2D2D2D;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.Advantages{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}


.mainHeader{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AdvantagesContainerCards{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.AdvantagesContainerCards .card{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.AdvantagesMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AdvantagesMenuButtons{
    gap: 10px;
}

.AdvantagesMenuButtons svg{
    width: 28px;
    height: 20px;
    cursor: pointer;
}

.About{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.About p{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px
}

.AboutText{
    padding: 60px 0 30px 0;
}

.MailingForm{
    width: 100%;
    height: 94px;
    background: #F9A22C;
    margin: 0 0 60px 0;
    display: flex;
    justify-content: center;
}

.MailingFormP{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    width: 25%;
}

.MailingForm .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MailingFormButtons input{
    padding: 8px 12px;
    border: 1px solid #E6E6E6;
    background: transparent;
    user-select: none;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline-width: 0;
    width: 220px;
    max-height: 35px;
}

.MailingFormButtons input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FFF;
}

.MailingFormButtons button{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 250% */
    text-transform: uppercase;
    border: none;
    background: #fff;
    width: 220px;
    height: 35px;
    cursor: pointer;
}

.MailingFormButtons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Features{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 60px 0;
}


.FeaturesPlusAndMinus{
    display: flex;
    color: #2D2D2D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    gap: 100px;
    padding: 60px 0 30px 0;
}

.FeaturesInfo{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 30%;
}

.Catalog{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
    background: #FBFBFB;
}

.CatalorNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CatalorNav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    cursor: pointer;
}

.CatalorNav ul .active{
    border-radius: 11px;
    background: #F9A22C;
    color: #fff;
    padding: 4px 8px;
    line-height: 1;
}

.CatalorContainerCards .card{
    width: 300px;
    height: 405px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.CatalorContainerCards .card img{
    height: 60%;
    padding-top: 26px;
}

.CatalorContainerCards .info{
    color: #2D2D2D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 20px;
}

.CatalorContainerCards .info p:nth-child(2){
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 12px;
    padding-bottom: 22px;
}

.CatalorCategory{
    position: absolute;
    border-radius: 0px 15px 15px 0px;
    background: #F9A22C;
    left: 0;
    top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 4px 12px;
}

.CatalorContainerCards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}

.ConsyltCard .card{
    width: 30%;
    height: 200px;
    background: #FBFBFB;
    display: flex;
    justify-content: space-between;
    
}

.ConsyltCard .img{
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ConsyltCardImg1{
    background: url(/img/Иван\ Алексеев\ менеджер\ по\ продажам.jpg);
}

.ConsyltCardImg2{
    background: url(/img/Галина\ Петрова\ менеджер\ по\ продажам.jpg);
}

.ConsyltCardImg3{
    background: url(/img/Светлана\ Астахова\ менеджер\ по\ продажам.jpg);
}

.ConsyltCard .info{
    width: 45%;
}

.Consylt{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 60px 0;
}

.ConsyltCard .info p:nth-child(1){
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ConsyltCard .info p:nth-child(2){
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 6px 0 20px 0;
}

.ConsyltCard .info button{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 8px;
    background: #F9A22C;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.ConsyltCard{
    padding: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Brends{
    background: #FBFBFB;
    height: 169px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.Brends p{
    color: #9B9B9B;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Inform{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InformCard .card{
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.InformCard .card img{
    width: 100%;
    filter: brightness(40%);
    transition: all 0.3s;
}

.InformCard .card p{
    position: absolute;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.InformCard{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.InformCard .card:hover img{
    transform: scale(1.2);
    transition: all 0.3s;
}

footer{
    background: #FBFBFB;
    padding: 80px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

.footerLeft{
    width: 35%;
    color: #8191A6;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footerLeft p:nth-child(2){
    padding: 30px 0 50px 0;
}

.footerRight{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footerRightElem{
    display: flex;
    flex-direction: column;
}

.footerRight h6{
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    text-transform: uppercase;
    padding-bottom: 18px;
}

.footerRight a{
    color: #8191A6;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.navMobile ul a {
    color: #8D8D8D;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.navMobile ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.navMobile{
    display: none;
    justify-content: center;
}

.navMobile.active{
    display: flex;
    position: absolute;
    width: 100%;
    background: white;
    padding: 10px 0;
}


@media (max-width: 1400px) {
    .container{
        width: 1140px;
    }

    .CatalorContainerCards{
        gap: 40px;
    }
}

@media (max-width: 1300px) {
    .container{
        width: 960px;
    }

    .CatalorContainerCards .card{
        width: 30%;
    }

    .CatalorContainerCards{
        justify-content: normal
    }

    .Brends{
        height: 120px;
    }

    .Brends p{
        font-size: 26px;
    }
}

@media (max-width:1000px) {
    .container{
        width: 720px;
    }

    .AdvantagesContainerCards .card{
        width: 24%;
    }

    .AdvantagesContainerCards .card p{
        text-align: center;
    }

    .MailingForm{
        height: 100%;
        padding: 20px 0;
    }

    .MailingForm .container{
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
    }

    .MailingFormP{
        width: 100%;
        padding-bottom: 10px;
    }

    .AdvantagesContainerCards{
        padding-top: 40px;
    }

    .AboutText{
        padding: 40px 0 30px 0;
    }

    .Advantages{
        padding: 60px 0 30px 0;
    }

    .FeaturesPlusAndMinus{
        padding: 30px 0;
    }

    .CatalorContainerCards .card{
        width: 300px;
    }

    .CatalorContainerCards{
        justify-content: center;
    }

    .ConsyltCard .card{
        width: 330px;
    }

    .ConsyltCard{
        gap: 40px;
    }
    .ConsyltCard .info {
        width: 47%;
    }
    .ConsyltCard .info p:nth-child(1){
        padding-top: 16px;
    }

    .Consylt{
        padding: 30px 0;
    }
    .Brends {
        height: 100px;
        margin-bottom: 40px;
    }
    .Brends p {
        font-size: 22px;
    }

    .InformCard .card {
        width: 46%;
    }

    .InformCard{
        gap: 40px;
    }

    .footerRight {
        width: 60%;
    }
}
  
@media (max-width:768px) {
    .container{
        width: 98%;
    }

    .Nav ul{
        display: none;
    }

    header p{
        width: auto;
    }

    .AdvantagesContainerCards .card {
        width: 45%;
    }

    .AdvantagesContainerCards{
        gap: 40px;
    }

    .MailingForm .container{
        align-items: center;
    }
    .MailingFormP {
        padding-bottom: 10px;
        text-align: center;
        width: 70%;
    }
    .MailingFormButtons{
        flex-direction: column;
    }

    .MailingFormButtons button{
        width: 248px;
    }
    
    .FeaturesPlusAndMinus{
        gap: 0;
    }

    .FeaturesInfo{
        padding-right: 0;
        font-size: 18px;
    }

    .Catalog{
        padding: 30px 0;
    }

    .CatalorContainerCards .card {
        width: 240px;
        height: 320px;
    }

    /* .ConsyltCard .card{
        flex-direction: column;
        width: 80%;
    }

    .ConsyltCard .img{
        width: 100%;
    } */

    .ConsyltCard{
        padding: 30px 0;
    }

    .ConsyltCard .card{
        width: 240px;
        height: 140px;
    }

    .ConsyltCard .info p:nth-child(1){
        font-size: 14px;
    }

    .ConsyltCard{
        justify-content: center;
    }

    .ConsyltCard .info p:nth-child(2){
        font-size: 10px;
    }

    .ConsyltCard .info button{
        font-size: 10px;
        padding: 6px;
    }

    .Brends{
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .container{
        flex-direction: column-reverse;
        align-items: center;
    }

    .footerLeft {
        width: 90%;
        padding-top: 40px;
    }

    footer{
        padding: 30px 0;
    }

    .footerLeft p:nth-child(2) {
        padding: 15px 0 20px 0;
    }

    .footerRight {
        width: 90%;
    }

    .About p{
        font-size: 16px;
    }

    .mobile{
        display: flex;
        height: 100%;
    }
}
  
@media (max-width:576px) {
    /* .container{
        width: 100%;
    } */

    .TopNav{
        display: none;
    }

    .CatalorNav{
        flex-direction: column;
    }

    .CatalorNav ul{
        padding-top: 20px;
    }
    .CatalorContainerCards .card {
        width: 45%;
    }
    .CatalorContainerCards {
        gap: 10px;
    }

    .Brends {
        padding: 30px 0;
    }

    .InformCard {
        gap: 10px;
    }
}
